:root {
  --sl-color-accent-low: #0c2d48;
  --sl-color-accent: #0ea5e9;
  --sl-color-accent-high: #38bdf8;
  --sl-color-white: #f8fafc;
  --sl-color-gray-1: #e2e8f0;
  --sl-color-gray-2: #94a3b8;
  --sl-color-gray-5: #1e293b;
  --sl-color-gray-6: #0f172a;
  --sl-color-black: #0d1117;
}
